.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #f5fbfd;
}

/* Share style */
.primary-btn {
background-color: #4E47FF;
color: white;
font-size: 16px;
font-weight: 600;
padding: 15px 36px;
border-radius: 6px ;
border-style: none;
}
/* Navigation Style */
body {
    padding: 0;
    margin: 0;
}
header {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat:repeat;
    background-position: center top;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.logo {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}
/* Banner style */
.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    padding: 110px 265px 30px;
}
.banner-btn {
    text-align: center;
    padding-bottom: 150px;
}
/* Section-one Style */
.section-one{
    margin:116px auto;
    width: 80%;
}
.section-one-container{
    display: flex;
    justify-content: space-between;
}
.section-one-column h2 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 25px;
}
.section-one-column p{
    font-size: 24px;
    font-weight: 400;
    color: #25243281;
    margin-bottom: 25px;
}
.section-one-column img {
    border-radius: 48px;
}
/* section-tow style */
.section-two {
    margin:116px auto;
    width: 80%;
    background-color: #4E47FF1A;
    border-radius: 24px;
}
.section-two-container{
    padding: 60px;
}
.section-two-container h2 {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.section-two-column {
    display: flex;
    justify-content: space-around;
}
.section-two-info h1 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}
.section-two-info p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
}
/* Section-3 review style */
.section-three {
    margin:135px auto;
    width: 80%;
}
.review-container{
    display: flex;
    justify-content: space-around;
}
.review-element {
    width: 341px;
    height: 200px;
    background-color: #FFFFFF80;
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 24px;
}
.star-container {
    margin-top: 0;
    margin-bottom: 24px;
}
.review h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.review-title h4{
    font-size: 24px;
    color: #1E1E1E;
    margin-top: 0;
    margin-bottom: 8px;
}
.review-title p {
    font-size: 16;
    color: #1E1E1E;
    margin-top: 0;
    margin-bottom: 24px;
}
.review-name {
    display: flex;
}
.review-name img {
    border-radius: 50%;
    margin-right: 2px;
}
.review-name h5 {
    color: #757575;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.review-name p {
    color: #B3B3B3;
    margin-top: 2px;
    margin-bottom: 0px;
}
/* Section-4 style */
.section-four {
    margin:0px auto 95px;
    width: 80%;
    text-align: center;
    background-color: #fff;
    padding: 71px 0px;
    border-radius: 14px;
}
.section-four-container h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;

}
.section-four-container p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}    
.section-four-container .section-four-btn {
    padding-bottom: 20px;
}
.section-four-container img {
    border-radius: 45px;
}
/* Section-5 style */

.section-five {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex: 1;
    gap: 120px;
    justify-content: space-between;
}
.section-five-form form {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}
.section-five-container h1 {
    font-size: 97px;
    font-weight: bold;
    padding: 130px 0;

}
.section-five-form label {
    font-size: 18px;
    font-weight: 600px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.section-five-form input {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 32px;
    width: 500px;
    border-radius: 10px;
    border:1px solid #D6DDED;

}
.section-five-form textarea {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 32px;
    width: 500px;
    border-radius: 10px;
    border:1px solid #D6DDED;
    margin-bottom: 20px;
}
.section-five-form button {
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    border-style: none;
    padding: 20px 32px;
    width: 565px;
    border-radius: 10px;
    margin-bottom: 70px;
}
/* Footer style */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 150px;
    background-color: #fff;
    border:1px solid #D6DDED;
}
.footer-items {
    text-align: center;
    width: 550px;
    height: 225px;
}
.footer-items h1{
    color: #4E47FF;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 8px;
}
.footer-items p{
    color:#8987A1 ;
}
.footer-navber ul {
    display: flex;
    justify-content: space-around;
}
.footer-navber li {
    list-style: none;
}
.footer-navber a {
    text-decoration: none;
    color: #8987A1;
}