.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Share style */
.primary-btn {
background-color: #4E47FF;
color: white;
font-size: 16px;
font-weight: 600;
padding: 12px 36px;
border-radius: 6px ;
border-style: none;
}
/* Navigation Style */
header {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat:repeat;
    background-position: center top;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.logo {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}
/* Banner style */
.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    padding: 110px 265px 30px;
}
.banner-btn {
    text-align: center;
    padding-bottom: 150px;
}
/* Section-one Style */
.section-one{
    margin:116px auto;
    width: 80%;
}
.section-one-container{
    display: flex;
    justify-content: space-between;
}
.section-one-column h2 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 25px;
}
.section-one-column p{
    font-size: 24px;
    font-weight: 400;
    color: #25243281;
    margin-bottom: 25px;
}
.section-one-column img {
    border-radius: 48px;
}
/* section-tow style */
.section-two {
    margin:116px auto;
    width: 80%;
    background-color: #4E47FF1A;
    border-radius: 24px;
}
.section-two-container{
    padding: 60px;
}
.section-two-container h2 {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.section-two-column {
    display: flex;
    justify-content: space-around;
}
.section-two-info h1 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}
.section-two-info p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
}